@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center py-5">
    <h1 class="display-4 text-primary">Welcome to EventEase</h1>
    <p class="lead">Manage your venues and events with ease.</p>
    <p>
        <a asp-controller="Venue" asp-action="Index" class="btn btn-custom btn-lg">View Venues</a>
    </p>
</div>