@model EventEase.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<div class="card">
    <div class="card-body">
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> @ViewData.ModelState[""]?.Errors.FirstOrDefault()?.ErrorMessage
            </div>
        }
        <form asp-action="Register" method="post">
            <div class="form-group mb-4">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" required />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-custom">Register</button>
            </div>
        </form>
        <p>
            Already have an account? <a asp-action="Login" asp-controller="Account">Login here</a>.
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}